* {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

body { 
    background-color: #8F002E;
}

@media (max-width: 1080px) {
    body {
        background-color: #72818B;
    }
}

@media (max-width: 550px) {
    body {
        background-color: #4F57AA;
    }
}

@media (max-width: 400px) {
    body {
        background-color: #BEE2E7;
    }
}